<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/foundation.min.js"></script>
<script src="/vendor/js/lodash.core.min.js"></script>
<script src="/vendor/js/tabletop.min.js"></script>
<script src="/vendor/js/js.cookie.js"></script>
<script src="/vendor/js/handlebars.runtime.min.js"></script>
<script src="/js/handlebarsHelpers.js"></script>
<script src="/js/init.js"></script>
<script src="/js/handlebarsTemplates.js"></script>
<script src="/js/dataSource.js"></script>
<script src="/js/labels.js"></script>
<script src="/js/auth.js"></script>
