<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="icon" href="/img/favicon.png">
<link rel="stylesheet" href="/vendor/css/foundation-flex.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="/js/config.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "Strona używa plików cookies potrzebnych do prawidłowego działania serwisu.",
    "dismiss": "OK",
    "link": "Dowiedz się więcej",
    "href": "/cookies.html"
  }
})});
</script>
